/************************************
Général settings
************************************/
body {
  text-align: center;
}
#logo {
  margin: 15px;
}

/************************************
Search page
************************************/
#research {
  width: 100%;
}

table.research {
  text-align: left;
}
table.research td.valid {
  text-align: right;
}

.date-input-year, .date-input-day, .date-input-month{
  display: inline-block;
}

.date-input-year, .date-input-month, .date-input-day {
  width: 15%;
}

.date-label {
  font-size: 20px;
}

/************************************
Treatment page
************************************/
div.treatment {
  width: 40%;
  display: inline-block;
  border: 1px solid #295705;
  background-color: #cbe6b5;
  margin: 3px;
}
div.treatment label {
  width: 100%;
  display:block;
  margin: 0;
  padding: 8px;
  font-size: 13px;
  color: #295705;
  font-weight: bold;
}
